.header-banner {
  background-color: #3b4498;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.consultar-header {
  background-color: #fbb802;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 30px;
  border-radius: 20px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.725rem, 2vw, 1.25rem);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.date-group {
  display: flex;
  gap: 5px;
}

.date-group input {
  width: 33%;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}

.date-group {
  display: flex;
  flex-wrap: wrap;
}

.date-group input {
  flex: 1;
  min-width: 80px;
}

.date-group .error-message {
  width: 100%;
  font-size: 0.8rem;
  color: red;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 20%;
  min-width: 150px;
  height: 30px;
  background: #fbb802;
  border: none;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}

button:hover {
  background: #f8c844;
}

.dark-mode #form{
  background-color: #4d4c4c;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode #form h2{
  color: #e7dfdf;
}

.dark-mode #btn-prosseguir{
  color: #e7dfdf;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*proximo passo*/

#pergunta-plano{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  max-width: 400px;
  width: 100%;
}

.botoes{
  display: flex;
  justify-content: space-between;
}

.dark-mode #pergunta-plano{
  background-color: #4d4c4c;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode #btn-sim{
  color: #e7dfdf;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.dark-mode #btn-nao{
  color: #e7dfdf;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


#resposta-sim{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  max-width: 400px;
  width: 100%;
}

.dark-mode #resposta-sim{
  background-color: #2a2a2a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}