<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer SVO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <footer id="footer">
        <div class="footerTop">
            <div class="logoContainer">
                <img class="logo" src="../assets/logo svo branco.png" alt="Logo SVO">
            </div>
            
            <div class="footerSection">
                <h3>INFORMAÇÕES</h3>
                <p>Tel. (75) 3224-6223</p>
                <p>Tel. (75) 3171-5221</p>
                <p>Exit: Rua Campo do</p>
                <p>Rua, 531 - BMW-360</p>
                <p>Jovão, CEP: 4068-9100</p>
                <p>ArequipCE</p>
            </div>

            <div class="footerSection">
                <h3>SERVIÇOS SVO</h3>
                <p>Solicitação de remoção</p>
                <p>Consulta de protocolo</p>
            </div>
            
            <div class="footerSection">
                <h3>ÚLTIMAS NOTÍCIAS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Plaquam a quo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Plaquam a quo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Plaquam a quo</p>
            </div>
        </div>
        
        <div class="footerCopyright">
            <p>© SVO - Serviço de Verificação de Óbito 2025</p>
        </div>
    </footer>
</body>

</html>